astropy==5.2.1
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
Cython==0.29.33
decorator==5.1.1
exceptiongroup==1.1.0
executing==1.2.0
ez-setup==0.9
iniconfig==2.0.0
ipython==8.9.0
jedi==0.18.2
limbo==0.0.1
matplotlib-inline==0.1.6
numpy==1.24.1
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
pyerfa==2.0.0.1
Pygments==2.14.0
pytest==7.2.1
PyYAML==6.0
scipy==1.10.0
six==1.16.0
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
wcwidth==0.2.6
